    html {
        height: 100%;
        width: 100%;
    }
    
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        font-family: Segoe UI;
        /*        margin: 8px;*/
        font-size: 13px;
    }
    
    div#bodyContainer {
        height: 100%;
    }
    
    div#body {
        position: relative;
        height: 100%;
        /*        margin:0;*/
    }
    
    #mapid {
        flex: 1 1 auto;
        /* height: 100%; */
        width: 100%;
        display: inline-block;
    }
    
    #updatetime {
        flex: 0 0 auto;
    }
    
    #mapidComparison {
        height: 100%;
        width: 100%;
        display: inline-block;
    }
    
    #mapContainer {
        width: 100%;
        height: auto;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    
    #mapContainer #tableContainer {
        flex: 1 1 auto;
        height: auto;
    }
    
    #workset {
        flex: 1 1 auto;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #slider {
        width: 35%;
    }
    
    .click_item {
        margin: 0px 5px 0px 5px;
        padding: 2px 7px 2px 7px;
        font-weight: bold;
        font-family: Segoe UI;
        border-radius: 7px;
    }
    
    span.click_item:hover {
        cursor: hand;
    }
    
    #selector {
        padding-left: 0px;
        padding-right: 0px;
        /*
        width: 15%;
        margin-left: 0.1%;
        margin-right: 1.4%;
*/
        /*        display: inline-block;*/
        vertical-align: top;
        height: 100%;
    }
    
    #selectorContainer {
        height: 100%;
    }
    
    #rightSideArea {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        padding-right: 0px;
        /*        display: inline-block;*/
        vertical-align: top;
        height: 100%;
        /*        width: 80%;*/
    }
    
    input.timeSelectorInput {
        display: block;
    }
    
    #dateDropdown input[type="button"],
    #dateDropdown input[type="text"],
    #dateDropdown select,
    #overviewDateDropdown input[type="button"],
    #overviewDateDropdown input[type="text"],
    #overviewDateDropdown select,
    button#submit {
        padding-left: 5px;
        /*font-size: 12px;*/
        /*        line-height: 1;*/
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 34px;
        overflow: hidden;
        border: 1px solid #ccc;
    }
    
    #dateDropdown input[type="button"],
    /*    #dateDropdown input[type="text"],*/
    
    #dateDropdown select,
    #overviewDateDropdown input[type="button"],
    /*    #overviewDateDropdown input[type="text"],*/
    
    #overviewDateDropdown select {
        background: white;
        margin-bottom: 5px;
        width: 100%;
    }
    
    #databtn button {
        width: 100%;
    }
    
    button#submit {
        /*
        position: absolute;
        bottom: 0;
        left: 0;
*/
        width: 95%;
        background: #007FFF;
        color: #FFF;
        /*                background: #f5f5f5;*/
        /*margin: 25px 5px 5px 5px;*/
        margin: 5px 5px 5px 5px;
    }
    
    #selector_showme img {
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: hand;
        overflow: hidden;
        border: 2px solid #ddd;
        border-radius: 2px;
        color: white;
        margin: 5px;
    }
    
    #control_Panel {
        flex: 0 0 auto;
        /*        width:97%;*/
        /*        margin-bottom: 20px;*/
    }
    
    .info_comparisonMap,
    .info_firstMap,
    .legend_comparisonMap,
    .legend_firstMap {
        padding: 6px 8px;
        /*        font: 14px/16px Arial, Helvetica, sans-serif;*/
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    
    .infoDiv,
    normalH4 {
        margin: 0px 0px 5px;
        color: #777;
        font-weight: bold;
    }
    
    normalH4 {
        display: block;
    }
    
    .legend_comparisonMap,
    .legend_firstMap {
        text-align: left;
        line-height: 18px;
        color: #555;
    }
    
    .legend_comparisonMap i,
    .legend_firstMap i {
        width: 18px;
        height: 18px;
        /*float: left;*/
        margin-right: 8px;
        opacity: 0.7;
        display: inline-block;
    }
    
    .pop {
        font-weight: bold;
    }
    
    .showChart,
    #showPieChart_comparisonMap,
    #showPieChart_firstMap {
        padding-left: 5px;
        font-size: 12px;
        /*        line-height: 1;*/
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        overflow: hidden;
        border: 1px solid #ccc;
        color: white;
        background: #ccc;
    }
    
    .showChart {
        margin-left: 5px;
    }
    
    #showPieChart_comparisonMap,
    #showPieChart_firstMap {
        margin-top: 5px;
        width: 100%;
    }
    
    .chart {
        height: 200px;
        padding-top: 20px;
    }
    
    #fullscreenContainer {
        width: 99%;
        height: 99%;
        background: white;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
    
    .white_option {
        background-color: #fff;
        color: black;
    }
    
    .grey_option {
        background-color: #ccc;
        color: white;
    }
    /*
    h3{
        margin-top: 0px;
        border-style:solid;
        border-color:#ddd;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        background-color:#ddd;
        -webkit-margin-after: 0.5em;
        margin-right: 0.5em;
        padding-left:3px;
    }
*/
    
    .filter_section {
        font-weight: bold;
        color: #00748e;
        border-top: solid #c4c4c4 1pt;
        margin-bottom: 5px;
        padding-top: 8px;
    }
    
    .filter_section_lastone {
        padding-bottom: 10px;
        border-bottom: solid #c4c4c4 1pt;
    }
    
    #moreFilterContainer .filter_section {
        /*        margin: 5px 5px 10px 5px;*/
        /*        margin: 5px;*/
        /*        margin-bottom: 5px;*/
        /*        padding-top: 8px;*/
    }
    
    .btn_unpressed {
        padding-left: 5px;
        font-size: 12px;
        /*        line-height: 1px;*/
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 95%;
        height: 34px;
        overflow: hidden;
        /*border: 1px solid #ccc;*/
        color: #000;
        background: #fff;
        text-align: left;
        /*margin: 5px;*/
    }
    
    .btn_pressed {
        padding-left: 5px;
        font-size: 12px;
        /*        line-height: 1px;*/
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 95%;
        height: 34px;
        overflow: hidden;
        /*border: 1px solid #ccc;*/
        background-color: #eeeeee;
        color: black;
        text-align: left;
        /*margin: 5px;*/
    }
    
    ul#chosenTarget {
        padding: 0px;
        margin: 5px;
    }
    
    .filterResult {
        list-style-type: none;
        background-color: #ccc;
        margin-bottom: 3px;
    }
    
    .control_panel_btn_area select+.ui-selectmenu-button,
    .centerCenterTitle select+.ui-selectmenu-button,
    .centerRightTitle select+.ui-selectmenu-button {
        vertical-align: middle;
    }
    
    .ui-widget {
        zIndex: -1;
        font-family: Segoe UI;
        font-size: 12px;
    }
    /*
    .ui-button,  .ui-button-text .ui-button{  
        font-size: 10px !important; 
    }
    */
    
    label.buttonSetLable {
        /*        text-align: right;*/
        padding-right: 5px;
        display: inline-block;
        /*        width: 60px;*/
    }
    
    #serviceDropdown label,
    #dealerDropdown label {
        text-align: right;
        padding-right: 5px;
        display: inline-block;
    }
    
    #serviceDropdown li,
    #dealerDropdown li {
        list-style-type: none;
    }
    
    .control_panel_btn_area {
        /*
        margin-top: 5px;
        margin-bottom: 5px;
*/
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .uiButton:active,
    .active {
        background-color: #ccc;
    }
    
    .toast {
        z-index: 99999;
        width: 200px;
        /*height:20px;*/
        position: absolute;
        left: 45%;
        bottom: 50%;
        /*margin-left:-100px;*/
        background-color: #383838;
        color: #F0F0F0;
        /*        font-family: Calibri;*/
        font-size: 20px;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
        -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
        box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    }
    
    #deviceFilter,
    #locationFilter,
    #colorFilter,
    #branchDistFilter,
    div.specFilter {
        max-height: 250px;
        /*        overflow: auto;*/
    }
    
    #selector li {
        list-style-type: none;
        display: block;
    }
    
    #selector ul:not(.dropdown-menu) {
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-padding-start: 12px;
        padding-left: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    #selector ul ul ul {
        -webkit-padding-start: 16px;
        padding-left: 16px;
    }
    
    #dateDropdown {
        border: 1px solid #BBB;
        border-radius: 5px;
        padding: 5px;
    }
    
    #dateDropdown,
    #overviewDateDropdown {
        display: none;
        position: absolute;
        background-color: #FFF;
        /*        min-width: 200px;*/
        /*        min-height: 250px;*/
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        /*        max-width: 25%;*/
    }
    
    #serviceDropdown,
    #dealerDropdown {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    
    #filterBarResults li {
        list-style-type: none;
    }
    
    #timeSection,
    #overviewTimeSection {
        /*        margin: -5px;*/
        padding-bottom: 2px;
    }
    /*    #timeSection button,*/
    /*
    #overviewTimeSection button {
        display: block;
        width: 100%;
        border: 0px;
        padding-left: 20px;
    }
*/
    
    ul#filterresultUl li {
        display: inline-block;
    }
    
    #addBookmarkDialog textarea {
        width: 100%;
        resize: none;
    }
    /*    #dateDropdown button.submit,*/
    /*    #overviewDateDropdown button.submit,*/
    
    #dateDropdown button.cancel,
    #overviewDateDropdown button.cancel {
        display: inline-block;
        margin: 5% 0% 3% 2%;
    }
    
    #serviceDropdown button.submit,
    #serviceDropdown button.cancel {
        display: inline-block;
        margin: 5% 0% 3% 2%;
    }
    /*.featureBtn {
        height: 32px;
        width: 32px;
        margin-left: 5px;
    }*/
    
    #snapshot {
        height: 32px;
        width: 32px;
        margin-left: 5px;
        background: url('./img/snapshot.png') center no-repeat;
        border: 0px;
    }
    
    #savebookmark {
        height: 32px;
        width: 32px;
        margin-left: 5px;
        background: url('./img/savebookmark.png') center no-repeat;
        border: 0px;
    }
    
    button#info {
        height: 32px;
        width: 32px;
        margin-left: 5px;
        background: url('./img/info.png') center no-repeat;
        border: 0px;
    }
    
    #bookmark {
        height: 32px;
        width: 32px;
        margin-left: 5px;
        background: url('./img/bookmark.png') center no-repeat;
        border: 0px;
    }
    
    #toggle {
        z-index: 10;
        position: absolute;
        margin-left: 2px;
        background: #e7e7e7;
        width: 20px;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border: 2px solid;
        border-color: #e7e7e7;
        cursor: pointer;
    }
    
    .panel {
        margin-bottom: 10px;
    }
    
    .panel-heading {
        padding: 3px;
        background-color: #e7e7e7;
        text-align: center;
    }
    
    .panel-body {
        padding: 5px;
        border: solid #e7e7e7 2pt;
    }
    
    .trendCollapsible-open span {
        display: inline-block;
        background: url(img/arrow_up.png) center center no-repeat;
        padding: 10px;
        opacity: 0.4;
    }
    
    .trendCollapsible-close span {
        display: inline-block;
        background: url(img/arrow_down.png) center center no-repeat;
        padding: 10px;
        opacity: 0.4;
    }
    
    .collapse-open span {
        display: block;
        float: right;
        background: url(img/arrow_up.png) center center no-repeat;
        padding: 10px;
    }
    
    .collapse-close span {
        display: block;
        float: right;
        background: url(img/arrow_down.png) center center no-repeat;
        padding: 10px;
    }
    
    #section_more span {
        display: block;
        float: right;
        padding: 10px;
    }
    
    #selector_branch_dist {
        padding: 0px;
    }
    
    .selector {
        padding: 5px;
    }
    /*--------------------------------------------*/
    
    #bookmarkList {
        display: none;
        margin: 0px;
        padding: 0px;
        border-radius: 3px;
    }
    
    .bk-list .ui-dialog-titlebar-close {
        display: none;
    }
    
    #bk-ul {
        list-style-type: none;
        margin: 0px;
        padding: 1px;
        width: 99%;
        background-color: #f1f1f1;
        position: relative;
        height: 100%;
        overflow: auto;
    }
    
    #bk-ul ul {
        padding: 5px 0px 5px 1em;
    }
    
    #bk-ul li {
        padding: 5px 0px 10px 1em;
        cursor: default;
        display: block;
        color: #000;
        /*padding: 4px 0 4px 16px;*/
        text-decoration-line: none;
        padding-bottom: 10px;
        border-bottom: #CCC;
        border-bottom-width: 0.5px;
        border-bottom-style: solid;
    }
    
    #bk-ul li.active {
        background-color: #4CAF50;
        color: white;
    }
    
    #bk-ul li:hover:not(.active) {
        background-color: #aaa;
        color: white;
    }
    
    #bk-ul li label {
        display: block;
        color: #000;
        padding: 4px 0px 4px 1em;
        text-decoration-line: none;
        cursor: default;
    }
    
    .leaflet-bottom .leaflet-control-scale {
        margin-bottom: 40px;
    }
    
    #release p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /*
    div#updatetime {
        margin-top: 16px;
        text-align:right;
    }
*/
    
    li.needToUncheck {
        list-style-type: none;
        display: block;
    }
    
    label:not(.timeSelectorInputLabel) {
        margin-bottom: 0px;
        font-weight: normal;
    }
    
    p {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    
    .lablecard,
    .card {
        margin: 3px;
        display: inline-block;
        min-width: 150px;
    }
    
    .lablecard {
        width: 150px;
    }
    
    .lablecard p,
    .card p {
        margin: 5px;
    }
    
    #filterContentContainer label {
        width: auto;
    }
    
    div[id^="showModelCount_"] {
        list-style-type: none;
        margin: 0px;
        padding: 1px;
        width: 100%;
        height: 100%;
        position: relative;
        max-height: 275px;
        /*        overflow: auto;*/
        border-bottom: #CCC;
        border-bottom-width: 0.5px;
        border-bottom-style: solid;
    }
    
    .model_table {
        width: 100%;
        /*        font: 14px/16px Arial, Helvetica, sans-serif;*/
        margin: 0px 0px 5px;
        color: #777;
        font-weight: bold;
    }
    
    .model_table_count {
        width: 30%;
        text-align: right;
    }
    
    #currentTrendTitle p {
        font-weight: 500;
    }
    
    #currentTrendTitle span {
        padding: 10px;
        width: 24px;
        height: 24px;
        display: inline-block;
    }
    
    #currentTrendTitle span.trendIconUp {
        background: url(img/arrow_up.png) no-repeat;
    }
    
    #currentTrendTitle span.trendIconDowu {
        background: url(img/arrow_down.png) no-repeat;
    }
    
    div[id^='displayFilter_content'] {
        color: #999;
    }
    
    div[id^='displayFilter_content'] label {
        line-height: 1.75;
    }
    
    div[id^='displayFilter_content'] li {
        list-style-type: none;
        display: block;
    }
    
    div[id^='displayFilter_content'] ul,
    div[id^='displayFilter_content'] ul ul {
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-padding-start: 0px;
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    div[id^='displayFilter_content'] ul ul ul {
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-padding-start: 12px;
        padding-left: 12px;
        margin-left: 0px;
        margin-right: 0px;
    }
    /*
    div[id^='displayFilter_content'] ul ul ul{
        -webkit-padding-start: 30px;
        padding-left:30px;
    }
*/
    
    div#lineChartTitle {
        z-index: 10;
        /*    top: 20%;*/
        /*    bottom: 80%;*/
        left: 2%;
        padding-left: 5px;
        padding-right: 5px;
        /*    background: white;*/
    }
    
    div#trendOptionContainer {
        z-index: 10;
        /*        padding-bottom: 10px;*/
        background: white;
        border: 1px solid #CCC;
        border-radius: 0px 0px 10px 10px;
    }
    
    div[id^="trendBy"] {
        padding: 20px;
        /*        margin-bottom: 5px;*/
        background: #FFF;
    }
    
    div[id^="trendBy"]:hover {
        background: #EEE;
    }
    
    span.ui-icon-circlesmall-plus,
    span.ui-icon-circlesmall-minus {
        display: inline-block;
        font-size: 18px;
        height: 12px;
        width: 12px;
        margin-right: 3px;
    }
    
    span#closeLineChart {
        position: absolute;
        top: 5px;
        left: 10px;
        background-color: Transparent;
        border: none;
        color: black;
        font-size: 2.2em;
        width: 1.5em;
        height: 1.5em;
        z-index: 1000;
    }
    
    div#trendColorInfo {
        position: absolute;
        left: 85%;
        /*    top:15%;*/
        width: auto;
        -webkit-box-shadow: 0px 5px 10px 2px rgba(56, 56, 56, 0.3);
        -moz-box-shadow: 0px 5px 10px 2px rgba(56, 56, 56, 0.3);
        box-shadow: 0px 5px 10px 2px rgba(56, 56, 56, 0.3);
        border-radius: 0.3em;
        padding: 10px 5px;
        max-height: 400px;
    }
    
    .ui-icon.ui-icon-bullet {
        display: inline-block;
        color: #C4C4C4;
    }
    
    div#dataset {
        /*    margin-left: 3px;*/
        display: inline-block;
    }
    
    .trendFunctionBtn {
        vertical-align: top;
    }
    /* customize scroll bar*/
    
    .customScrollBar::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    
    .customScrollBar::-webkit-scrollbar {
        width: 8px;
        height: 10px;
        background-color: #F5F5F5;
    }
    
    .customScrollBar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #DDD;
    }
    
    .customScrollBar.scrollBarAlwayShow {
        overflow: auto;
    }
    
    .customScrollBar {
        overflow: hidden;
    }
    
    .customScrollBar:hover {
        overflow-x: auto;
        overflow-y: auto;
    }
    /* customize scroll bar*/
    
    .hiddenScrollBar::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    
    .hiddenScrollBar::-webkit-scrollbar {
        width: 0px;
        height: 10px;
        /*        background-color: #F5F5F5;*/
    }
    
    .hiddenScrollBar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #DDD;
    }
    
    .hiddenScrollBar {
        overflow: hidden;
    }
    
    .hiddenScrollBar:hover {
        overflow-x: auto;
        overflow-y: auto;
    }
    
    #functionalBtnContainer .ui-widget {
        margin-right: 5px;
    }
    
    div#locset {
        width: 100%;
        /*
        display: table;
        margin: 0px auto;
*/
    }
    
    div#locset #locsetButton {
        width: 100%;
    }
    /*
    #locset .locset {
        height: 37px;
    }
*/
    
    .locset .ui-button-text {
        padding: .3em;
    }
    
    #section_branch_dist {
        display: none;
    }
    
    button#gap {
        display: none;
    }
    
    .sliderDiv {
        width: 30%;
        display: inline-block;
        margin-left: 10px;
    }
    
    .sliderDiv label {
        position: absolute;
        width: 20px;
        margin-left: -10px;
        text-align: center;
        margin-top: 20px;
    }
    
    .overviewCenter {
        display: inline-block;
        vertical-align: top;
    }
    
    #overviewCenterLeft,
    #overviewCenterCenter {
        /*        margin: 10px 10px 0px 10px;*/
        height: 100%;
    }
    
    #overviewCenterLeft {
        position: relative;
        /*        width:20%;*/
    }
    
    #overviewCenterCenter {
        /*        width:20%;*/
        height: 95%;
    }
    
    #overviewCenterRight {
        /*        margin: 10px 10px 0px 10px;*/
        height: 95%;
        width: 100%;
    }
    
    #overviewTop {
        margin-top: 10px;
        height: 5%;
        padding: 0 8px 5px 8px;
    }
    
    #overviewCenter {
        height: 95%;
        /*        margin: 0 5% 0 5%;*/
    }
    
    #todayLogin {
        height: 45%;
        /*        margin-bottom: 16px;*/
    }
    
    #topTenLogin {
        height: 45%;
    }
    /*
    #overviewTop:before {
        content: "";
        position: absolute;
        left: 10px;
        bottom: 0;
        height: 1px;
        width: 90%;   or 100px 
        border-bottom:2px solid #ddd;
    }
*/
    /*
    #overviewCenterLeft:before{
        content: "";
        position: absolute;
        left: 100%;
        height: 90%;
        border-right: 2px solid #ddd;
    }
*/
    
    #homepage {
        flex: 1 1 auto;
        margin-left: 10px;
        height: 100%;
    }
    
    .overviewTitle {
        font-weight: bold;
    }
    
    .centerCenterContent {
        max-height: 85%;
    }
    
    #divider {
        height: 5%;
    }
    
    .card-padding {
        padding: 8px;
    }
    
    .heatTip {
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .8);
        color: #fff;
        font-size: 14px;
        padding: 5px;
        line-height: 18px;
        z-index: 20;
    }
    
    .navbar-nav>li>a,
    .navbar-brand {
        padding-top: 4px !important;
        padding-bottom: 0 !important;
        height: 32px;
    }
    
    .navbar-inverse .navbar-brand {
        color: #EEE;
    }
    
    .navbar {
        border-radius: 0px;
        min-height: 32px !important;
        margin-bottom: 0px;
        background: #555;
        border: 0px solid;
        border-bottom: 1px solid #BBB;
    }
    
    .cursorDefault:hover {
        cursor: default;
    }
    
    #lifezoneWeekDay,
    #lifezonePartOfDay,
    #lifezoneWeekDayBtnset,
    #lifezonePartOfDayBtnset,
    #activationTrendBy,
    #activationTrendLevel,
    #activationTrendTimeScale,
    #activationDistributedBy,
    #activationDistributedLevel {
        display: inline-block;
    }
    
    button.lifezoneWeekDayBtnset {
        width: 50px;
    }
    
    div #overviewDatebtn {
        display: inline-block;
    }
    /*
    div#moreFilterContainer {
        z-index: 10;
        border: solid #e7e7e7 2pt;
        margin-bottom: 20px;
        background: white;
    }
*/
    
    div.hr {
        border-top: solid #c4c4c4 1pt;
        margin: 5px;
    }
    
    .filterSelector {
        width: 100%;
        margin-bottom: 10px;
        align-items: center;
    }
    
    .filterSelector label {
        display: block;
        color: #00748e;
        font-weight: bold;
        /*
        width: 60px;
        vertical-align: bottom;
*/
        margin-bottom: 3px;
    }
    
    #selector_target {
        width: 100%;
    }
    
    .ui-selectmenu-button span.ui-selectmenu-text {
        text-align: center;
    }
    
    .leaflet-container {
        font: 13px/1.5 "Segoe UI Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
    
    li.lagendGroup {
        margin-top: 20px;
    }
    
    ul[class$="-legend"] {
        list-style: none;
        padding-left: 10px;
    }
    
    ul[class$="-legend"] ul {
        list-style: none;
        padding-left: 0px;
    }
    
    ul[class$="-legend"] li {
        list-style-type: none;
    }
    
    ul[class$="-legend"] li span {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 10px;
        /*        border-radius: 10px;*/
    }
    
    .legendCheckAll {
        display: inline-block;
        margin-left: 10px;
    }
    
    .dropdown-menu {
        min-width: 120px;
    }
    
    #legendSelector {
        margin-left: 10px;
        margin-bottom: 5px;
    }
    
    label.notAllCheck {
        display: inline-block;
        border: 4px solid #88a;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .3) inset;
        border-radius: 10%;
        width: 1em;
        height: 1em;
    }
    
    input.notAllCheck[type="checkbox"] {
        display: none;
    }
    
    input.notAllCheck:checked+label.notAllCheck {
        background-color: rgba(0, 255, 0, .8);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, .1) inset;
    }
    
    input[type="checkbox"] {
        display: inline-block;
    }
    
    .fakeNotAllCheckbox {
        display: inline-block;
        font-size: 13px;
        border: solid 1px #AAA;
        color: #888;
        border-radius: 3px;
        margin: 4px 0 0;
    }
    
    #starHintIcon {
        margin-left: 5px;
        margin-bottom: 3px;
    }
    
    #star-tooltip {
        position: absolute;
        display: none;
    }
    
    #star-tooltip .star-tooltip-img {
        /*        visibility: hidden;*/
        background-image: url("img/infobox.png");
        height: 144px;
        width: 289px;
        margin-left: 13px;
        position: absolute;
        z-index: 998;
    }
    
    #star-tooltip .star-tooltip-text {
        /*        visibility: hidden;*/
        height: 100px;
        width: 228px;
        margin: 20px 21px 20px 49px;
        font-size: 14px;
        line-height: 20px;
        color: #4A4A4A;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        z-index: 999;
    }
    /*
    .star-tooltip:hover .star-tooltip-img,
    .star-tooltip:hover .star-tooltip-text {
        visibility: visible;
    }
*/
    
    div#homeMenuLeft {
        display: flex;
        flex-direction: column;
        color: #DDD;
        position: relative;
        background: #555;
        min-height: 100%;
        overflow: hidden;
        padding-top: 20px;
        transition: .5s;
        width: 100%;
        z-index: 2;
    }
    
    div#mainFunctionContainer {
        flex: 1 0 auto;
    }
    
    div#collapseBtnContainer {
        /*IE solution*/
        position: absolute;
        bottom: 0px;
        width: 100%;
        /* flex: 0 0 auto; */
        /* display: flex; */
        /* flex-direction: column; */
    }
    
    span.sideCollapseBtn {
        width: 100%;
        text-align: right;
    }
    
    div.homeMenuItem * {
        cursor: pointer;
    }
    
    div.homeMenuItem {
        display: flex;
        cursor: pointer;
        align-items: center;
        transition: .5s;
    }
    
    div.homeMenuItem:hover {
        background: #00748e;
    }
    
    span.homeMenuItemIcon {
        align-self: flex-end;
        font-size: 24px;
        padding: 10px 15px 10px 15px;
    }
    
    div.homeMenuList.expend {
        display: block;
    }
    
    div.homeMenuList.filterShowing {
        display: none;
    }
    
    div.homeMenuList {
        /*        height:0px;*/
        display: none;
        overflow: hidden;
        /*        transition: 5s;*/
    }
    
    div.homeMenuListItem {
        cursor: pointer;
        padding: 3px 0px 3px 0px;
        transition: .5s;
    }
    
    div.homeMenuListItem:hover {
        color: #FFF;
    }
    
    div.homeMenu {
        display: inline-block;
    }
    
    div#homeMenuRight {
        display: flex;
        flex-direction: row;
        border-right: 1px solid #DDD;
        background: #EEE;
        position: absolute;
        height: 100%;
        transition: .5s;
        /*        padding: 20px 10px 0px 10px;*/
        overflow: hidden;
        z-index: 1;
        top: 0px;
    }
    
    div#homeMenuRight .filterPart {
        padding: 20px 10px 0px 10px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    
    .collapseBtnPart {
        display: flex;
        flex-direction: row;
        /* flex: 0 0 5px; */
        align-items: center;
        position: absolute;
        background: #DDD;
        width: 5px;
        z-index: 10;
    }
    
    span.filterCollapseBtn {
        font-family: monospace;
        font-weight: bold;
        text-align: -webkit-center;
        width: 10px;
        position: absolute;
        color: #BBB;
        background: #DDD;
        border-radius: 8px;
        cursor: pointer;
    }
    
    div.functionPanel {
        display: inline-block;
    }
    
    div.needTohideAtFirst {
        display: none;
    }
    
    .needTohideAtFirst {
        display: none;
    }
    
    div.functionContainer {
        padding: 10px 0;
        border-bottom: 1px solid #EEE;
    }
    
    div.titleBar {
        padding: 5px 0;
        font-size: x-large;
        font-weight: 500;
        border-bottom: 1px solid #EEE;
    }
    
    div.controlPanel {
        /*        border-bottom: 2px solid #EEE;*/
    }
    
    .margin-left-20px {
        margin-left: 20px;
    }
    
    .needLeftBorder {
        border-left: 1px solid #EEE;
        padding-left: 10px;
        margin-left: 10px;
    }
    
    .control_panel_right #export {
        position: absolute;
        top: 0;
        right: 5px;
        /*        margin: auto;*/
    }
    
    .closeIcon {
        margin-left: 5px;
        font-size: 12px;
        width: 12px;
        height: 12px;
        color: #DDD;
    }
    
    .dateDropdownSector {
        display: inline-block;
        /*                width: 100%;*/
        vertical-align: top;
    }
    
    #dateDropdownLeft {
        /*        width: 50%;*/
        /*        border-right: 1px solid #DDD;*/
        /*        padding-right: 5px;*/
    }
    
    #dateDropdownLeft.datepickerShow {
        /*        width: 50%;*/
        border-right: 1px solid #DDD;
        padding-right: 5px;
    }
    
    #okBtnContainer {
        border-top: 1px solid #ddd;
        padding-top: 5px;
        margin-top: 20px;
    }
    
    #dateOK {
        margin-top: 20px;
        background: #007FFF;
        color: #FFF;
    }
    
    #dateOK.submited {
        background: rgb(190, 190, 190);
        color: rgb(255, 255, 255);
    }
    
    #dateOK,
    #timeSectionBtnDiv {
        width: 100%;
    }
    
    ul#locsetButtonUl {
        width: 100%;
    }
    
    div.submitContainer {
        /*        position: absolute;*/
        /*        bottom: 0;*/
        /*        left: 0;*/
        flex: 0 0 auto;
        width: 100%;
    }
    
    div.filterContainer {
        flex: 1 1 auto;
        /*        height: 90%;*/
    }
    
    .customTimeSelectorLabel,
    .customTimeSelectorInput {
        display: inline-block;
        flex: 1 1 auto;
        padding-left: 5px;
    }
    
    .customTimeSelectorContainer {
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        margin-bottom: 1em;
    }
    
    #dateDropdown input[type="text"].customTimeSelectorInput,
    #overviewDateDropdown input[type="text"].customTimeSelectorInput {
        border-radius: 10px;
        border: 0px;
    }
    
    button.date {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    div#activatiobDistributionTrendContainer {
        display: flex;
        flex-direction: row;
        /*        position: absolute;*/
        width: 100%;
        /*        border: 10px solid rgba(255, 255, 255, 0);*/
        overflow-y: hidden;
        /*        display: inline-block;*/
        opacity: 1;
    }
    
    div#activationTrendContainer {
        /*        position: absolute;*/
        width: 100%;
        /*        border: 10px solid rgba(255, 255, 255, 0);*/
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        opacity: 0;
    }
    
    div#chartSide {
        /*
        display: inline-block;
        vertical-align: top;
*/
        flex: 1 1 auto;
    }
    
    div#legendSide {
        flex: 0 0 auto;
        /*        display: inline-block;*/
        /*        vertical-align: top;*/
        padding: 0px 20px;
    }
    
    button#timeSectionBtnButton,
    button#overviewTimeSectionBtnButton,
    div#overviewTimeSectionBtnDiv {
        width: 100%;
    }
    
    div.showtrendContainer {
        display: inline-block;
        float: right;
        margin-right: 5px;
    }
    
    span.font13 {
        font-size: 13px;
        margin: 10px 10px;
        line-height: 5em;
    }
